---

- name: Crear usuario node_exporter
  ansible.builtin.user:
    name: "{{ usuario }}"


- name: Descarga de node_exporter
  ansible.builtin.unarchive:
    src: "https://github.com/prometheus/node_exporter/releases/download/v{{ version }}/node_exporter-{{ version }}.linux-amd64.tar.gz"
    dest: /tmp/
    remote_src: true


- name: Copiar binarios en {{ path_binarios }}
  ansible.builtin.copy:
    src: "/tmp/node_exporter-{{ version }}.linux-amd64/node_exporter"
    dest: "{{ path_binarios }}"
    owner: root
    group: root
    mode: '0755'
    remote_src: true


- name: Creacion servicio node_exporter
  ansible.builtin.template:
    src: node_exporter.service.j2
    dest: /etc/systemd/system/node_exporter.service
    owner: root
    group: root
    mode: '0755'


- name: Reload daemon
  ansible.builtin.systemd:
    daemon_reload: true


- name: Levantar servicio node_exporter
  ansible.builtin.service:
    name: node_exporter
    state: started
    enabled: true

  
- name: Permitir trafico por puerto de node_exporter
  ansible.posix.firewalld:
    port: 9100/tcp
    state: enabled
    permanent: true
    immediate: true

...